doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Applikation zur Wettervorhersage')
    meta(name='theme-color', content='#0d0d0d')
    title WeatherByIP
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/responsive.css')

  body
    #myModal.modal
      .modal-content
        h2.title Imprint
        ul
          li Name: Jonathan Schöngarth
          li Address: 35418 Großen-Buseck
          li Street: Tulpenstraße 2
          li Email: jonathan.schoengarth@gmail.com
          li Telefon address: +49 015739379432
    section.main
      .grid
        .outer-container
          h1.welcome WeatherByIP
          h2.title.font-style
            | Get your IP specific weather information with the use of IP Geolocation and openweather API
          main.input-box
            form(name='add-estimation',action='submitIP', method='post')
              div.input
                input(type='text', name='ipAddress', aria-label='enter ip address',placeholder='enter valid ipv4 or ipv6',  tabindex='0')
              div.actions
                input(type="submit", value="Submit", tabindex='0')
          button#myBtn Imprint
    script.
      var modal = document.getElementById("myModal");
      var btn = document.getElementById("myBtn");
      btn.onclick = function () {
        modal.style.display = "block";
      }
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }

