doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Applikation zur Wettervorhersage')
        meta(name='theme-color', content='#0d0d0d')
        title WeatherByIP
        link(rel='stylesheet', type='text/css', href='stylesheets/inputError.css')
        link(rel='stylesheet', type='text/css', href='stylesheets/responsiveError.css')
    body
        section.main
            .grid
                .outer-container
                    .value-container
                        input(type='text', name='ipAddress', aria-label='enter ip address', tabindex='0', autofocus='', value=ipAddress , readonly='')
                    .output-container
                        input(type='text', name='error', aria-label='Oops something went wrong', value='Oops something went wrong', tabindex='0', autofocus='', readonly='')
                        input(type='text', name='error-message', aria-label='Enter a valid ip address', value=errormsg, tabindex='0', autofocus='', readonly='')
                        form(name='home-button',action='back', method='post')
                            input(type='submit', ,='', value='Back', tabindex='0')
