doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Applikation zur Wettervorhersage')
        meta(name='theme-color', content='#0d0d0d')
        title WeatherByIP
        link(rel='stylesheet', type='text/css', href='stylesheets/data.css')
        link(rel='stylesheet', type='text/css', href='stylesheets/responsiveData.css')
    body
        section.main
            .grid
                .outer-container
                    .value-container
                        input(type='text', name='ipAddress', aria-label='enter ip address', tabindex='0', autofocus='',value= ipAddress  readonly='')
                    .output-container
                        .navigation
                            ul
                                li
                                    button.data.active Weather
                                li
                                    button.data Address
                        .content-box.active
                            img(src='http://openweathermap.org/img/wn/'+icon+'@2x.png' , alt='...')
                            ul
                                li Main weather : #{main}
                                li Weather description : #{description}
                                li Current temperature : #{temp} centigrade
                                li Wind speed : #{windSpeed} meter/sec
                        .content-box
                            ul
                                li Country (ISO 3166 alpha-2) : #{country}
                                li Region : #{region}
                                li City : #{city}
                        form(name='home-button',action='back', method='post')
                            input(type='submit', ,='', value='Back', tabindex='0')
        script.
            const BUTTONS = document.querySelectorAll(".data");
            const CONTENT_BOXES = document.querySelectorAll(".content-box");
            const swapContent = () => {
                CONTENT_BOXES.forEach(it => it.classList.toggle("active"));
            }
            BUTTONS.forEach(it => it.addEventListener("click", () => {
                BUTTONS.forEach(it => it.classList.toggle("active"));
                swapContent();
            }));
