@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root {
    --background: #0A0A0A;
    --surface: #121212;

    --primary: #BB86FC;
    --primary-variant: #3700B3;
    --secondary: #03DAC6;

    --on-primary: #000;
    --on-secondary: #000;

    --on-background: #fff;
    --on-surface: #fff;

    --error: #CF6679;
    --on-error: #000;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;

    overflow: scroll;

    background-color: var(--background);

    margin: 0;
    padding: 0;
}

body section {
    width: 100%;
    height: 100%;
}

body section .grid {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 150px 1fr 150px;

    width: 100%;
    height: 100%;
}

body section .grid .outer-container {
    grid-column: 2;
    grid-row: 2;

    align-self: start;
}

body section .grid .outer-container .value-container {
    width: 65%;
    margin: 0 auto;

    position: relative;
}

body section .grid .outer-container .value-container::before {
    content: "entered ip address";
    position: absolute;
    top: -10px;
    left: 15px;

    color: var(--secondary);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

    border-radius: 5px;
}

body section .grid .outer-container .value-container input {
    padding: 24px 15px;

    color: var(--on-surface);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    outline: none;
    box-shadow: none;

    border: 1px solid var(--surface);
    border-radius: 4px;

    background-color: var(--surface);

    width: 100%;
}

body section .grid .outer-container .output-container {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 1fr;

    margin: 50px auto;

    width: 65%;
}

body section .grid .outer-container .outer-container .navigation {
    grid-column: 1;
    grid-row: 1;
}

body section .grid .outer-container .output-container .navigation ul {
    text-align: left;
    list-style: none;

    margin: 0;
    padding: 0;
    font-size: 100%;
}

body section .grid .outer-container .output-container .navigation ul li .data {
    color: var(--on-background);
    font-family: 'Roboto', sans-serif;
    font-size: 32px;

    background-color: transparent;
    outline: none;
    border: none;

    margin: 10px 0;

    cursor: pointer;

    transition: all 300ms ease-in-out;
}

body section .grid .outer-container .output-container .navigation ul li .data.active {
    color: var(--secondary);
}

body section .grid .outer-container .output-container .content-box {
    grid-column: 2;
    grid-row: 1;

    justify-self: end;

    padding: 75px 25px;

    border-radius: 14px;


    background-color: var(--surface);

    color: var(--on-background);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;

    display: none;
}

body section .grid .outer-container .output-container .content-box.active {
    display: block;
}

body section .grid .outer-container .output-container .content-box ul {
    text-align: left;
}

body section .grid .outer-container .output-container .content-box ul li {
    padding: 5px 0;
}

body section .grid .outer-container .output-container form input {
    padding: 24px 15px;

    color: var(--on-secondary);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    outline: none;
    box-shadow: none;

    border: 1px solid var(--secondary);
    border-radius: 4px;

    background-color: var(--secondary);

    width: 30%;
    cursor: pointer;
}
