@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root {
    --background: #0A0A0A;
    --surface: #121212;

    --primary: #BB86FC;
    --primary-variant: #3700B3;
    --secondary: #03DAC6;

    --on-primary: #000;
    --on-secondary: #000;

    --on-background: #fff;
    --on-surface: #fff;

    --error: #CF6679;
    --on-error: #000;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: var(--background);

    margin: 0;
    padding: 0;
}

body section {
    width: 100%;
    height: 100%;
}

body section .grid {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 150px 1fr 150px;

    width: 100%;
    height: 100%;
}

body section .grid .outer-container {
    grid-column: 2;
    grid-row: 2;

    align-self: start;
}

body section .grid .outer-container .value-container {
    width: 65%;
    margin: 0 auto;

    position: relative;
}

body section .grid .outer-container .value-container::before {
    content: "entered ip-address";
    position: absolute;
    top: -10px;
    left: 15px;

    color: var(--secondary);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

    border-radius: 5px;
}

body section .grid .outer-container .value-container input {
    padding: 24px 15px;

    color: var(--on-surface);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    outline: none;
    box-shadow: none;

    border: 1px solid var(--surface);
    border-radius: 4px;

    background-color: var(--surface);

    width: 100%;

}

body section .grid .outer-container .output-container {
    width: 65%;
    margin: 0 auto;

    position: relative;
}

body section .grid .outer-container .output-container input {
    padding: 24px 15px;
    margin: 25px 0;

    color: var(--on-error);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    outline: none;
    box-shadow: none;

    border: 1px solid var(--surface);
    border-radius: 4px;

    background-color: var(--error);

    width: 40%;
}

body section .grid .outer-container .output-container form input {
    padding: 24px 15px;

    color: var(--on-secondary);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    outline: none;
    box-shadow: none;

    border: 1px solid var(--secondary);
    border-radius: 4px;

    background-color: var(--secondary);

    width: 30%;
    cursor: pointer;
}























