@media only screen and (max-width: 1275px) {
    body section .grid {
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 50px 1fr 50px;
    }

    body section .grid .outer-container h1.welcome {
        font-size: 48px;
    }

    body section .grid .outer-container h2.title {
        font-size: 32px;
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    body section .grid {
        grid-template-columns: 25px 1fr 25px;
        grid-template-rows: 25px 1fr 25px;
    }

    body section .grid .outer-container h1.welcome {
        font-size: 48px;
    }

    body section .grid .outer-container h2.title {
        font-size: 24px;
        width: 100%;
    }

    body section .grid .outer-container main.input-box form {
        width: 100%;
    }

    body section .grid .outer-container main.input-box div.input input {
        width: 65%;
    }

    body section .grid .outer-container main.input-box div.action input {
        width: 20%;
    }
    #myBtn{
        width: 20%;
    }
}

@media only screen and (max-width: 599px) {
    body section .grid .outer-container h2.title {
        font-size: 18px;
        width: 100%;
    }

    body section .grid .outer-container main.input-box div.input input {
        width: 85%;
        margin-bottom: 10px;
    }

    body section .grid .outer-container main.input-box div.action input {
        width: 35%;
        margin: 0;
    }
    #myBtn{
        width: 35%;
        margin: 0;
    }
}

@media only screen and (max-width: 424px) {
    body section .grid {
        grid-template-columns: 10px 1fr 10px;
        grid-template-rows: 10px 1fr 10px;
    }

    body section .grid .outer-container h2.title {
        font-size: 16px;
        width: 100%;
    }

    body section .grid .outer-container main.input-box div.input input{
        width: 100%;
    }
}
