@media only screen and (max-width: 1275px) {
    body section .grid .outer-container .output-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(0, 1fr);

        margin: 50px auto;

        width: 65%;
    }
    body section .grid .outer-container .output-container input {
        width: 70%;
    }
}

@media only screen and (max-width: 992px) {
    body section .grid {
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 50px 1fr 50px;
    }

    body section .grid .outer-container .value-container {
        width: 80%;
    }

    body section .grid .outer-container .output-container {
        width: 80%;
    }
    body section .grid .outer-container .output-container input {
        width: 70%;
    }
}

@media only screen and (max-width: 599px) {
    body section .grid {
        grid-template-columns: 25px 1fr 25px;
        grid-template-rows: 25px 1fr 25px;
    }

    body section .grid .outer-container .value-container {
        width: 95%;
    }

    body section .grid .outer-container .output-container {
        width: 95%;
    }
    body section .grid .outer-container .output-container input {
        width: 85%;

    }
}

@media only screen and (max-width: 424px) {
    body section .grid {
        grid-template-columns: 25px 1fr 25px;
        grid-template-rows: 25px 1fr 25px;
    }

    body section .grid .outer-container .value-container {
        width: 100%;
    }

    body section .grid .outer-container .output-container {
        width: 100%;
    }

    body section .grid .outer-container .value-container::before {
        top: -8px;
        font-size: 16px;
    }

    body section .grid .outer-container .value-container input {
        font-size: 14px;
    }
    body section .grid .outer-container .output-container input {
        width: 100%;

    }

    body section .grid .outer-container .output-container form input {
        width: 50%;
    }

}
