
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root {
  --background: #0A0A0A;
  --surface: #121212;

  --primary: #BB86FC;
  --primary-variant: #3700B3;
  --secondary: #03DAC6;

  --on-primary: #000;
  --on-secondary: #000;

  --on-background: #fff;
  --on-surface: #fff;

  --error: #CF6679;
  --on-error: #000;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  background-color: var(--background);

  margin: 0;
  padding: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(--background);
  background-color: rgba(--background,0.4);
}

/* Modal Content/Box */
.modal-content {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  color: var(--on-background);
  margin: 150px auto;
  padding: 20px;
  border: 1px solid var(--secondary);
  width: 100%;
  height: 70%;
}

.modal-content h2.title{
  text-decoration: underline;
}

.modal-content ul li{
  margin: 10px 0;
}

body section {
  width: 100%;
  height: 100%;
}

body section .grid {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: 150px 1fr 150px;

  width: 100%;
  height: 100%;
}

body section .grid .outer-container {
  grid-column: 2;
  grid-row: 2;

  text-align: center;

  justify-self: center;
  align-self: center;
}

body section .grid .outer-container h1.welcome {
  color: var(--on-background);
  font-family: 'Roboto', sans-serif;
  font-size: 72px;
  font-weight: 900;
  letter-spacing: 5px;
  word-spacing: 10px;
  opacity: 0.5;
}

body section .grid .outer-container h2.title {
  font-size: 48px;

  padding: 0;

  width: 65%;
  margin: 0 auto;
}


body section .grid .outer-container main.input-box {
  margin: 25px 0;
}

body section .grid .outer-container main.input-box form {
  width: 55%;
  margin: 0 auto;
}

body section .grid .outer-container main.input-box div.input input{
  padding: 14px 15px;

  color: var(--on-surface);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  outline: none;
  box-shadow: none;

  border: 1px solid var(--surface);
  border-radius: 4px;
  background-color: var(--surface);

  width: 60%;
}
body section .grid .outer-container main.input-box input:focus {
  border: 1px solid rgb(255, 255, 255, 0.15);
}


body section .grid .outer-container main.input-box div.actions input{
  color: var(--on-secondary);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  border-radius: 5px;

  padding: 14px 24px;
  outline: none;
  border: none;
  box-shadow: none;

  background-color: var(--secondary);
  cursor: pointer;

  margin-left: 25px;
}

#myBtn{
  color: var(--on-secondary);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  border-radius: 5px;

  padding: 14px 24px;
  outline: none;
  border: none;
  box-shadow: none;

  background-color: var(--secondary);
  cursor: pointer;

  margin-left: 25px;

}



.font-style {
  color: var(--on-background);
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
